<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
		<add name="WLMSLP" connectionString="Initial Catalog=WLMSLP_PESS_DEV;Data Source=localhost; Application Name=Solução de Perecíveis; User Id=AppUser; password=AppUser" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
