<div class="input-group">
    <input type="text"
           name="{{::lookupName}}"
           ng-model="data.value"
           ng-blur="check()"
           default-action="search()"
           class="form-control input-width-small lookup-key"
           ng-required="ngRequired || isRequired"
           ng-disabled="ngDisabled || isDisabled"
           max-width="{{::maxWidth}}" 
           select-text-on-focus />
    <span class="input-group-addon lookup-text" ng-disabled="ngDisabled || isDisabled">
        {{data.text}}
    </span>
    <span class="input-group-btn" ng-if="!itemOut">
        <button class="btn btn-lookup btn-info" ng-click="search(1)" ng-disabled="ngDisabled || isDisabled">
            <i class="glyphicon glyphicon-search" />
        </button>
    </span>
    <span class="input-group-btn" ng-if="!!itemOut && !(ngDisabled||isDisabled)">
        <button class="btn btn-lookup btn-info" ng-click="reset();focus()" ng-disabled="ngDisabled || isDisabled">
            <i class="glyphicon glyphicon-erase" />
        </button>
    </span>
</div>