<div class="row">
    <div class="col-md-12">
        <widget title="{{::'stateCadMultiSourcingEditName'|translate|capitalize}}" has-box="true">
            <form class="form-horizontal row-border" novalidate="novalidate" name="cadMultisourcing">
                <div class="form-group actions no-padding">
                    <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="save()" security-action="Multisourcing.InserirMultisourcing"><i class="glyphicon glyphicon-save" /> &nbsp; {{::'save'|translate}}</button>
                        <button class="btn btn-danger"
                                mwl-confirm
                                title="{{::'confirmRemoveTitle'|translate }}"
                                message="{{::'confirmRemoveMessage'|translate }}"
                                on-confirm="remove()"
                                confirm-text="{{::'confirm'|translate|capitalize }}"
                                cancel-text="{{::'cancel'|translate|capitalize }}"
                                ng-disabled="!podeRemoverMS()" security-action="Multisourcing.DeletarMultisourcing">
                            <i class=" glyphicon glyphicon-remove" /> &nbsp; {{::'exclude'|translate}}
                        </button>
                        <button class="btn btn-default" ng-click="back()"><i class="glyphicon glyphicon-arrow-left" /> &nbsp; {{::'back'|translate}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <form-field title="{{::'stockControlItem'|translate|capitalize}}" class="col-md-12">
                        <lookup-item name="sellItemSearch" ng-model="filters.cdOldNumber" departamento="filters.cdDepartamento" sistema="filters.cdSistema" item-out="filters.item" disabled></lookup-item>
                    </form-field>
                    <form-field title="{{::'cd'|translate|capitalize}}" class="col-md-12">
                        <input type="text" ng-model="filters.cdCD" readonly maxlength="4" class="form-control input-width-small look-alive" />
                    </form-field>
                </div>
            </form>
        </widget>
        <widget has-box="no-padding">
            <div class="form-inline">
                <!-- TODO: componente de grid -->
                <table class="table simple table-striped table-checkable table-highlight-head table-no-inner-border table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="identifier" ng-click="orderBy('cdCD')">{{::'cd'|translate}} <sort-indicator ng-model="data.values" name="cdCD"></sort-indicator></th>
                            <th class="identifier" ng-click="orderBy('cdItem')">{{::'inputItemCode'|translate}} <sort-indicator ng-model="data.values" name="cdItem"></sort-indicator></th>
                            <th ng-click="orderBy('dsItem')">{{::'itemDescription'|translate}} <sort-indicator ng-model="data.values" name="dsItem"></sort-indicator></th>
                            <th class="identifier" ng-click="orderBy('cdV9D')">{{::'vendorNineDigitsCode'|translate}} <sort-indicator ng-model="data.values" name="cdV9D"></sort-indicator></th>
                            <th ng-click="orderBy('nmFornecedor')">{{::'vendorName'|translate}} <sort-indicator ng-model="data.values" name="nmFornecedor"></sort-indicator></th>
                            <th class="domain" ng-click="orderBy('cdTipo')">{{::'channel'|translate}} <sort-indicator ng-model="data.values" name="cdTipo"></sort-indicator></th>
                            <th class="number" ng-click="orderBy('qtVendorPackage')">{{::'vendorPack'|translate}} <sort-indicator ng-model="data.values" name="qtVendorPackage"></th>
                            <th class="number" ng-click="orderBy('vlPesoLiquido')">{{::'netWeight'|translate|capitalize}} <sort-indicator ng-model="data.values" name="vlPesoLiquido"></th>
                            <th class="number" ng-click="orderBy('vlPercentual')">{{::'percent'|translate}} <sort-indicator ng-model="data.values" name="vlPercentual"></sort-indicator></th>
                        </tr>
                    </thead>
                    <tbody ng-if="data.values && data.values.length > 0">
                        <tr ng-repeat="item in data.values">
                            <td class="identifier">{{item.cdCD}}</td>
                            <td class="identifier double">{{item.cdItem}}</td>
                            <td>{{item.dsItem}}</td>
                            <td class="identifier double">{{item.cdV9D}}</td>
                            <td>{{item.nmFornecedor}}</td>
                            <td class="domain symbol">{{item.cdTipo}}</td>
                            <td class="number">{{item.qtVendorPackage}}</td>
                            <td class="number">{{item.vlPesoLiquido}}</td>
                            <td class="number-large pull-left">
                                <input type="text" name="vlPercentual" ng-disabled="item.idCompraCasada != null" ng-model="item.vlPercentual" number maxlength="2" ui-number-mask="0" ui-hide-group-sep class="form-control input-width-mini" ng-change="recalculate()" ng-model-options="{updateOn:'default blur',debounce:{'default':750,'blur':0}}" />
                                <span class="observation" ng-if="item.idCompraCasada != null">*</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-if="data.values && data.values.length > 0">
                        <tr>
                            <td colspan="6" class="number">{{::'total'|translate}}</td>
                            <td class="number-large">
                                <div class="form-control input-width-mini pull-left pull-text-right">{{totalPercent}}</div>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody ng-if="!data.values || data.values.length === 0">
                        <tr>
                            <td colspan="9" class="domain">{{::'noData'|translate|capitalize}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="table-footer">
                        <div class="col-md-12">
                            <grid-pager ng-model="data.values" page-method="search" settings="data.paging"></grid-pager>
                        </div>
                    </div>
                </div>
            </div>
        </widget>
        <span class="observation-legend">* {{::'itemRegisteredCompraCasada'|translate}}</span>
    </div>
</div>