<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="SGP:Processing:MaxAge" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
		<add name="WLMSLP" connectionString="Initial Catalog=WLMSLP_PESS_DEV;Data Source=PBRNT56112BR; Application Name=Solução de Perecíveis; User Id=SLPUSER; password=qNpUPj;Connection Timeout=120;Max Pool Size=2000" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\..\logs\Tasks-TST-log.txt"  xdt:Transform="SetAttributes" />
		</appender>
		<root>
			<level value="WARN" xdt:Transform="SetAttributes" />
		</root>
	</log4net>
</configuration>