<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="SGP:Processing:MaxAge" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
		<add name="WLMSLP" connectionString="Initial Catalog=WLMSLP_PESS_DEV;Data Source=localhost; Application Name=Solução de Perecíveis; User Id=AppUser; password=AppUser;MultipleActiveResultSets=True;Connection Timeout=60;Max Pool Size=2000" providerName="System.Data.SqlClient"  xdt:Transform="Replace"/>
	</connectionStrings>
</configuration>