<div class="row">
    <div class="col-md-12">
        <widget title="{{::'statePesquisaCompraCasadaName'|translate|capitalize}}" has-box="true">
            <form class="form-horizontal row-border" novalidate="novalidate" name="itensCompraCasada">
                <div class="form-group actions">
                    <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="search(1)"><i class="glyphicon glyphicon-search" /> &nbsp; {{::'search'|translate}}</button>
                        <button class="btn btn-default" ng-click="clear()"><i class="glyphicon glyphicon-erase" /> &nbsp; {{::'clear'|translate}}</button>
                        <button class="btn btn-default" ng-disabled="!data.values || data.values.length == 0" ng-click="toExport()"><i class="glyphicon glyphicon-save-file" /> &nbsp; {{::'export'|translate}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <form-field title="{{::'marketingStructure'|translate|capitalize}}" line-width="6" grid-width="11">
                        <dropdown-sistema name="marketingStructure" ng-model="filters.cdSistema" required></dropdown-sistema>
                    </form-field>
                    <form-field title="{{::'department'|translate|capitalize}}" line-width="6" grid-width="11">
                        <lookup-departamento name="department" ng-model="filters.cdDepartamento" sistema="filters.cdSistema" item-out="filters.departamento" modo-pereciveis="restrito" required></lookup-departamento>
                    </form-field>
                    <form-field title="{{::'vendorNineDigitsCode'|translate|capitalize}}" line-width="6" grid-width="11">
                        <lookup-vendor-nove-digitos name="vendor" canal="filters.cdTipo" ng-model="filters.cdV9D" sistema="filters.cdSistema" item-out="filters.vendor" description-width="large"></lookup-vendor-nove-digitos>
                    </form-field>
                    <form-field title="{{::'stockControlItem'|translate|capitalize}}" line-width="6" grid-width="11">
                        <lookup-item-saida name="sellItemSearch" ng-model="filters.cdOldNumber" departamento="filters.cdDepartamento" sistema="filters.cdSistema" item-out="filters.item" somente-status="A" modo-pereciveis="restrito"></lookup-item-saida>
                    </form-field>
                    <form-field title="{{::'hasSetup'|translate|capitalize}}" line-width="6" grid-width="11">
                        <select ui-select2 class="dropdown input-width-small" data-placeholder="Sim" ng-model="filters.filtroCadastro" name="possuiCadastro">
                            <option></option>
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                            <option value="2">Todos</option>
                        </select>
                    </form-field>
                </div>
            </form>
        </widget>
        <widget has-box="no-padding">
            <div class="form-inline">
                <!-- TODO: componente de grid -->
                <table class="table simple table-striped table-checkable table-highlight-head table-no-inner-border table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="identifier" ng-click="orderBy('cdV9D')">{{::'vendorNineDigitsCode'|translate}} <sort-indicator ng-model="data.values" name="cdV9D"></sort-indicator></th>
                            <th class="identifier" ng-click="orderBy('nmFornecedor')">{{::'vendorName'|translate}} <sort-indicator ng-model="data.values" name="nmFornecedor"></sort-indicator></th>
                            <th class="identifier" ng-click="orderBy('cdItem')">{{::'stockControlItem'|translate}} <sort-indicator ng-model="data.values" name="cdItem"></sort-indicator></th>
                            <th class="identifier" ng-click="orderBy('dsItem')">{{::'description'|translate}} <sort-indicator ng-model="data.values" name="dsItem"></sort-indicator></th>
                            <th class="identifier" ng-click="orderBy('qtItensEntrada')">{{::'qtInputItens'|translate}} <sort-indicator ng-model="data.values" name="qtItensEntrada"></sort-indicator></th>
                            <th class="identifier" ng-click="orderBy('qtItensCadastradosCompraCasada')">{{::'hasSetup'|translate}} <sort-indicator ng-model="data.values" name="qtItensCadastradosCompraCasada"></sort-indicator></th>
                            <th class="action"></th>
                        </tr>
                    </thead>
                    <tbody ng-if="data.values && data.values.length > 0">
                        <tr ng-repeat="item in data.values">
                            <td class="identifier">{{::item.fornecedorParametro.cdV9D + item.fornecedorParametro.cdTipo}}</td>
                            <td style="width:145px;padding-right:0"><div class="unbreakable" style="width:145px;" title="{{::item.fornecedorParametro.nmFornecedor}}">{{::item.fornecedorParametro.nmFornecedor}}</div></td>
                            <td class="identifier">{{::item.cdItem}}</td>
                            <td style="width:150px;padding-right: 0"><div class="unbreakable" style="width:150px;" title="{{::item.dsItem}}">{{::item.dsItem}}</div></td>
                            <td class="number">{{::item.qtItensEntrada}}</td>
                            <td class="domain symbol double"><semaphore ng-model="item.possuiCadastroCompraCasada"></semaphore></td>
                            <td class="action"><edit-button ng-click="edit(item)"></edit-button></td>
                    </tbody>
                    <tbody ng-if="!data.values || data.values.length === 0">
                        <tr>
                            <td colspan="7" class="domain">{{::'noData'|translate|capitalize}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="table-footer">
                        <div class="col-md-12">
                            <grid-pager ng-model="data.values" page-method="search" settings="data.paging"></grid-pager>
                        </div>
                    </div>
                </div>
            </div>
        </widget>
    </div>
</div>