<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <connectionStrings>
    <add name="WLMSLP" connectionString="Initial Catalog=WLMSLP_PESS_UAT;Data Source=PBRNT56112BR; Application Name=Solução de Perecíveis; User Id=SLPUSER; password=qNpUPj;Connection Timeout=120;Max Pool Size=2000" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="SGP:ReportServer:Url" value="http://labbrnts5018/ReportServer?REE/RA2016/UAT/SGP/" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
  </appSettings>
  
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\logs\WebApi-UAT-log.txt"  xdt:Transform="SetAttributes" />
    </appender>
  </log4net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>