<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceWebGuardianSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceWebGuardianSoap">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ServiceWebGuardianSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://labbrnts2598a/Walmart.WebGuardian.SOAP/servicewebguardian.asmx"
                binding="customBinding" bindingConfiguration="ServiceWebGuardianSoap"
                contract="Importing.WebGuardian.ServiceWebGuardianSoap" name="ServiceWebGuardianSoap" />
            <endpoint address="http://labbrnts2598a/Walmart.WebGuardian.SOAP/servicewebguardian.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceWebGuardianSoap1"
                contract="Importing.WebGuardian.ServiceWebGuardianSoap" name="ServiceWebGuardianSoap1" />
            <endpoint address="http://labbrnts2598a/Walmart.WebGuardian.SOAP/servicewebguardian.asmx"
                binding="customBinding" bindingConfiguration="ServiceWebGuardianSoap12"
                contract="Importing.WebGuardian.ServiceWebGuardianSoap" name="ServiceWebGuardianSoap12" />
        </client>
    </system.serviceModel>
</configuration>