<div class="row">
    <div class="col-md-12">
        <widget title="{{::'statePesquisaFinelineName'|translate|capitalize}}" has-box="true">
            <form class="form-horizontal row-border" novalidate="novalidate" name="filtroPesquisa">
                <div class="form-group actions">
                    <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="search(1)"><i class="glyphicon glyphicon-search" /> &nbsp; {{::'search'|translate}}</button>
                        <button class="btn btn-default" ng-click="clear()"><i class="glyphicon glyphicon-erase" /> &nbsp; {{::'clear'|translate}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <form-field title="{{::'marketingStructure'|translate|capitalize}}" line-width="6" grid-width="8">
                        <dropdown-sistema ng-model="filters.cdSistema" required></dropdown-sistema>
                    </form-field>
                    <form-field title="{{::'department'|translate|capitalize}}" line-width="6" grid-width="12">
                        <lookup-departamento ng-model="filters.cdDepartamento" sistema="filters.cdSistema" divisao="filters.cdDivisao" excluir-padaria="true" description-width="large" required item-out="filters.departamento"></lookup-departamento>
                    </form-field>
                    <form-field title="{{::'category'|translate|capitalize}}" line-width="6" grid-width="12">
                        <lookup-categoria ng-model="filters.cdCategoria" sistema="filters.cdSistema" departamento="filters.cdDepartamento" item-out="filters.categoria" description-width="large"></lookup-categoria>
                    </form-field>
                    <form-field title="{{::'subcategory'|translate|capitalize}}" line-width="6" grid-width="12">
                        <lookup-subcategoria ng-model="filters.cdSubcategoria" sistema="filters.cdSistema" departamento="filters.cdDepartamento" categoria="filters.cdCategoria" item-out="filters.subcategoria" description-width="large"></lookup-subcategoria>
                    </form-field>
                    <form-field title="{{::'code'|translate|capitalize}}" line-width="6" grid-width="12">
                        <input type="text" name="code" ng-model="filters.codigo" number ui-number-mask="0" ui-hide-group-sep maxlength="20" class="form-control input-width-medium" />
                    </form-field>
                    <form-field title="{{::'description'|translate|capitalize}}" line-width="6" grid-width="12">
                        <input type="text" name="description" ng-model="filters.descricao" maxlength="20" class="form-control input-width-xxlarge" />
                    </form-field>
                </div>
            </form>
        </widget>

        <widget has-box="no-padding">
            <div class="form-inline">
                <table class="table simple table-striped table-checkable table-highlight-head table-no-inner-border table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="identifier">{{::'code'|translate|capitalize}}</th>
                            <th>{{::'description'|translate|capitalize}}</th>
                            <th>{{::'subcategory'|translate|capitalize}}</th>
                            <th>{{::'category'|translate|capitalize}}</th>
                            <th>{{::'department'|translate}}</th>
                            <th>{{::'division'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody ng-if="data.values && data.values.length > 0">
                        <tr ng-repeat="item in data.values">
                            <td class="identifier">{{item.cdFineLine}}</td>
                            <td>{{item.dsFineLine}}</td>
                            <td>{{item.subcategoria|subcategoryProfile}}</td>
                            <td>{{item.subcategoria.categoria|categoryProfile}}</td>
                            <td>{{item.subcategoria.categoria.departamento|departmentProfile}}</td>
                            <td>{{item.subcategoria.categoria.departamento.divisao|divisionProfile}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!data.values || data.values.length === 0">
                        <tr>
                            <td colspan="6" class="domain">{{::'noData'|translate|capitalize}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="table-footer">
                        <div class="col-md-12">
                            <grid-pager ng-model="data.values" page-method="search" settings="data.paging"></grid-pager>
                        </div>
                    </div>
                </div>
            </div>
        </widget>
    </div>
</div>
