<div class="input-group">
    <div class="col-xs-6 col-sm-6 col-md-6 datepicker-range-from">
        <datepicker ng-click="resetDates($event)" ng-model="startDate" controll="startDateControll" ng-required="ngRequired || isRequired" name="{{datepickerNameStart}}"></datepicker>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 datepicker-range-to">
        <datepicker ng-click="resetDates($event)" ng-model="endDate" controll="endDateControll" ng-required="ngRequired || isRequired" name="{{datepickerNameEnd}}"></datepicker>
    </div>
</div>

