<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ServiceWebGuardianSoap">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport  maxReceivedMessageSize="10485760"/>
                </binding>
            </customBinding>
        </bindings>
      <client>
            <endpoint address="http://labbrnts2598a.br.wal-mart.com/Walmart.WebGuardian.SOAP/servicewebguardian.asmx"
                binding="customBinding" bindingConfiguration="ServiceWebGuardianSoap"
                contract="Importing.WebGuardian.ServiceWebGuardianSoap" name="ServiceWebGuardianSoap" />
        </client>
    </system.serviceModel>
</configuration>