<div class="row">
    <div class="col-md-12">
        <widget title="{{::'authorizeScriptedOrder'|translate|capitalize}} {{::filters.titulo|translate|capitalize}}" has-box="true">
            <form class="form-horizontal row-border" novalidate="novalidate" name="filtroPesquisa">
                <div class="form-group actions">
                    <div class="col-md-12">
                        <button class="btn btn-default" ng-click="authorize()" ng-disabled="header.autorizado" security-action="RoteiroPedido.AutorizarRoteiroPedido"><i class="glyphicon glyphicon-pencil" /> &nbsp; {{::'authOrder'|translate}}</button>
                        <button class="btn btn-default" ng-click="exportReport()"><i class="glyphicon glyphicon-save-file" /> &nbsp; {{::'export'|translate}}</button>
                        <button class="btn btn-default" ng-click="back()"><i class="glyphicon glyphicon-arrow-left" /> &nbsp; {{::'back'|translate}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <form-field title="{{::'totalReferenceLoad'|translate|capitalize}}" line-width="6" grid-width="12">
                        <input type="text" class="form-control" ng-model="header.minimalLoad" ng-disabled="true" />
                    </form-field>
                    <form-field title="{{::'finishedTotal'|translate|capitalize}}" line-width="6" grid-width="12">
                        <input type="text" class="form-control input-width-small" ng-model="header.finishedTotal" ng-disabled="true" />
                    </form-field>
                    <form-field title="{{::'typeOfReference'|translate|capitalize}}" line line-width="6" grid-width="12">
                        <input type="text" class="form-control" ng-model="header.loadType" ng-disabled="true" />
                    </form-field>
                    <form-field title="{{::'vendorNineDigitsCode'|translate|capitalize}}" line-width="6" grid-width="12">
                        <lookup-vendor-nove-digitos name="CdDV9" ng-model="header.cdV9D" sistema="data.cdSistema" item-out="filters.vendor" description-width="medium" ng-disabled="true"></lookup-vendor-nove-digitos>
                    </form-field>
                    <form-field title="{{::'orderScript'|translate|capitalize}}" line line-width="6" grid-width="12">
                        <input type="text" class="form-control" ng-model="header.descricao" ng-disabled="true" />
                    </form-field>
                    <form-field title="{{::'department'|translate|capitalize}}" line-width="6" grid-width="12">
                        <lookup-departamento ng-model="data.cdDepartamento" sistema="data.cdSistema" description-width="medium" ng-disabled="true"></lookup-departamento>
                    </form-field>
                    <form-field title="{{::'requestDate'|translate|capitalize}}" line-width="6" grid-width="12">
                        <datepicker name="requestDate" ng-model="data.dtPedido" format="dd/MM/yyyy" placeholder="Selecione" ng-disabled="true" />
                    </form-field>
                </div>
            </form>
        </widget>
        <widget has-box="no-padding">
            <div class="form-inline">
                <!-- TODO: componente de grid -->
                <table class="table simple table-striped table-checkable table-highlight-head table-no-inner-border table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="double identifier">{{::'inputItemCode'|translate|capitalize}}</th>
                            <th ng-click="orderBy('dsItem')">{{::'description'|translate|capitalize}} <sort-indicator ng-model="data.values" name="dsItem"></sort-indicator></th>
                            <th class="double number">{{::'orderingTotal'|translate|capitalize}}</th>
                            <th class="double number">{{::'finishedTotal'|translate|capitalize}}</th>
                            <th class="action"></th> <!--Editar-->
                        </tr>
                    </thead>
                    <tbody ng-if="data.values && data.values.length > 0">
                        <tr ng-repeat="item in data.values">
                            <td class="double identifier">{{item.itemDetalhe.cdItem}}</td>
                            <td>{{item.itemDetalhe.dsItem}}</td>
                            <td class="double number">{{item.qtdSolicitada}}</td>
                            <td class="double number">{{item.qtdRoteiroRA}}</td>
                            <td class="action">
                                <edit-button ng-click="edit(item)"></edit-button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!data.values || data.values.length === 0">
                        <tr>
                            <td colspan="5" class="domain">{{::'noData'|translate|capitalize}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="table-footer">
                        <div class="col-md-12">
                            <grid-pager ng-model="data.values" page-method="search" settings="data.paging"></grid-pager>
                        </div>
                    </div>
                </div>
            </div>
        </widget>
    </div>
</div>
