<div class="row">
    <div class="col-md-12">
        <widget title="{{::'statePesquisaInventarioGeracaoName'|translate|capitalize}}" has-box="true">
            <form class="form-horizontal row-border" novalidate="novalidate" name="filtroPesquisa">
                <div class="form-group actions">
                    <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="search(1, true)"><i class="glyphicon glyphicon-search" /> &nbsp; {{::'search'|translate}}</button>
                        <button class="btn btn-default" ng-click="clear()"><i class="glyphicon glyphicon-erase" /> &nbsp; {{::'clear'|translate}}</button>
                        <button class="btn btn-default pull-right" ng-click="print()"><i class="glyphicon glyphicon-save-file" /> &nbsp; {{::'print'|translate}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <form-field title="{{::'marketingStructure'|translate|capitalize}}" line-width="6" grid-width="8">
                        <dropdown-sistema ng-model="filters.cdSistema" required></dropdown-sistema>
                    </form-field>
                    <form-field-placeholder></form-field-placeholder>
                    <form-field title="{{::'chain'|translate|capitalize}}" line-width="6" grid-width="8">
                        <dropdown-bandeira ng-model="filters.idBandeira" sistema="filters.cdSistema" required></dropdown-bandeira>
                    </form-field>
                    <form-field title="{{::'store'|translate|capitalize}}" line-width="6" grid-width="12">
                        <lookup-loja ng-model="filters.cdLoja" bandeira="filters.idBandeira" sistema="filters.cdSistema" item-out="filters.loja" description-width="large"></lookup-loja>
                    </form-field>
                     <form-field title="{{::'department'|translate|capitalize}}" line-width="6" grid-width="12" ng-if="!filters.cdSistema || filters.cdSistema == sistemas.supercenter">
                        <lookup-departamento ng-model="filters.cdDepartamento" sistema="filters.cdSistema" item-out="filters.departamento" description-width="large"></lookup-departamento>
                    </form-field>
                     <form-field title="{{::'category'|translate|capitalize}}" line-width="6" grid-width="12" ng-if="filters.cdSistema == sistemas.samsClub">
                        <lookup-categoria ng-model="filters.idCategoria" sistema="filters.cdSistema" item-out="filters.categoria" departamento="zero.cdDepartamento" description-width="large"></lookup-categoria>
                    </form-field>                    
                    <form-field title="{{::'inventaryDate'|translate|capitalize}}" line-width="6">
                        <datepicker name="inventaryDate" ng-model="filters.dhInventario"></datepicker>
                    </form-field>
                    <form-field title="{{::'situation'|translate|capitalize}}" line-width="6" grid-width="8">
                        <dropdown-status-inventario name="situation" ng-model="filters.stInventario" show-all="true"></dropdown-status-inventario>
                    </form-field>
                    <form-field-placeholder></form-field-placeholder>
                    <form-field title="{{::'totalCostValue'|translate|capitalize}}" line-width="12" grid-width="4">
                        <input type="text" name="vlrCustoTotal" value="{{ custoTotal.value|money:2 }}" class="form-control look-alive input-width-medium number" readonly background-request="custoTotal" />                        
                    </form-field>
                </div>
            </form>
        </widget>
        <widget has-box="no-padding">
            <div class="form-inline">
                <table class="table simple table-striped table-checkable table-highlight-head table-no-inner-border table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>{{::'store'|translate|capitalize}}</th>
                            <th class="date">{{::'date'|translate|capitalize}}</th>
                            <th ng-if="filters.cdSistema == tipoSistema.supercenter">{{::'department'|translate|capitalize}}</th>
                            <th ng-if="filters.cdSistema == tipoSistema.samsClub">{{::'category'|translate|capitalize}}</th>
                            <th class="double currency">{{::'approvalCostValue'|translate|capitalize}}</th>
                            <th class="double currency">{{::'currentCostValue'|translate|capitalize}}</th>
                            <th class="domain">{{::'situation'|translate|capitalize}}</th>
                            <th class="domain symbol">{{::'fixed'|translate|capitalize}}</th>
                            <th class="action"></th>
                        </tr>
                    </thead>
                    <tbody ng-if="data.values && data.values.length > 0">
                        <tr ng-repeat="item in data.values">
                            <td>{{item.loja|storeProfile}}</td>
                            <td class="date">{{item.dhInventario|amDateFormat:'DD/MM/YYYY'}}</td>
                            <td ng-if="filters.cdSistema == tipoSistema.supercenter">{{item.departamento|departmentProfile}}</td>
                            <td ng-if="filters.cdSistema == tipoSistema.samsClub">{{item.categoria|categoryProfile}}</td>
                            <td class="currency">{{item.totalCustoAprovacao|money:2}}</td>
                            <td class="currency">{{item.totalCusto|money:2}}</td>
                            <td class="domain">{{item.stInventario|fixedValue:'inventarioStatus'}}</td>
                            <td class="domain symbol">{{item.possuiItensAlterados|yesNo}}</td>
                            <td class="action">
                                <detail-button ng-click="detail(item)"></detail-button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!data.values || data.values.length === 0">
                        <tr>
                            <td colspan="8" class="domain">{{::'noData'|translate|capitalize}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="table-footer">
                        <div class="col-md-12">
                            <grid-pager ng-model="data.values" page-method="search" settings="data.paging"></grid-pager>
                        </div>
                    </div>
                </div>
            </div>
        </widget>
    </div>
</div>
